<!doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <title>Leather Pencase</title>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600&display=swap" rel="stylesheet">

        <style>
            * {
                font-family: 'Noto Serif KR', serif;
            }

            .my item {
                width: 500px;
                height: 300px;

                background-image: url("https://funshop.akamaized.net//products/0000032937/vs_image800.jpg?1595167800");
                background-position: center;
                background-size: cover;
            }

            .price {
                font-size: 16px;
            }

            .desc {
                font-size: 25px;
                width: 500px;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            .order-box {
                width: 500px;
                margin-bottom: 40px;
            }

            .mybtn {
                width: 100px;
                margin: auto;
                display: block;
            }

            .wrap {
                margin: auto;
                width: 500px;
            }

            .rate {
                color: blue;
            }
        </style>
        <script>
            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: "https://api.manana.kr/exchange/rate.json",
                    data: {},
                    success: function (response) {
                        let nowRate = response[1]['rate'];
                        $('#rate-box').text(nowRate)
                    }
                })
                order_listing();
            });

            function order_listing() {
                $.ajax({
                    type: "GET",
                    url: "/order",
                    data: {},
                    success: function (response) {
                        let orders = response['orders'];
                        for (let i = 0; i < orders.lengthl; i++) {
                            let name = orders[i]['name'];
                            let count = orders[i]['count'];
                            let address = orders[i]['address'];
                            let phone = orders[i]['phone'];

                            let_temp_html = `<tr>
                                                <th scope="row">${name}</th>
                                                <td>${count}</td>
                                                <td>${address}</td>
                                                <td>${phone}</td>
                                             </tr>`
                            $('#order-list-box').append(temp_html)
                            console.log(name, count, address, phone)
                        }
                    }
                }

                function order() {
                    let name = $('#order-name').val();
                    let count = $('#order-count').val();
                    let address = $('#order-address').val();
                    let phone = $('#order-phone').val();

                    if (name == '') {
                        alert('이름을 입력하세요');
                    } else if (count == '-- 수량을 선택하세요 --') {
                        alert('수량을 입력하세요');
                    } else if (address == '') {
                        alert('주소를 입력하세요');
                    } else if (phone == '') {
                        alert('전화번호를 입력하세요');
                    } else {
                        $.ajex({
                            type: "POST",
                            url: "/order",
                            data: {
                                'name_give': name,
                                'count_give': count,
                                'address_give': address,
                                'phone_give': phone
                            },
                            success: function (response) {
                                if (response["result"] == "success") {
                                    alert(response["msg"]);
                                    window.location.reload();
                                }
                            }

                        })

                    }
                }
        </script>
    </head>

    <body>
        <div class="wrap">
            <div class="my item"></div>
            <div class="desc"
            <h1 class="desc">가죽 필통을 판매합니다 </h1>
            <span class="price">가격:47,500원/개 </span>
            <p class="price">당신의 소중한 필기구를 가죽 필통에 보관하세요. 시간이 지날수록 부드럽고 더욱 멋있어지는 가죽만의 매력을 느낄 수 있습니다.</p>

            <p class="rate">달러-원 환율:<span id="rate-box">1,000</span></p>
        </div>
        <div class="order-box">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">주문자이름</span>
                </div>
                <input id="order-name" type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">수량</label>
                </div>
                <div>
                    <select id="order-count""class=custom-select">
                    <option selected>-- 수량을 선택하세요 --</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    </select>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">주소</span>
                </div>
                <input id="order-address" type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">전화번호</span>
                </div>
                <input id="order-phone" type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <button onclick="order()" type="button" class="btn btn-primary mybtn">주문하기</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">이름</th>
                    <th scope="col">수량</th>
                    <th scope="col">주소</th>
                    <th scope="col">전화번호</th>
                </tr>
            </thead>
            <tbody id="order-list-box">
            </tbody>
        </table>

        </div>
    </body>
</html>